.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header a img{
    width: 130px;
    padding: 10px 20px;
  }
  
  .header ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 30px;
    }
  
    .header li a{
    color: black;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #d3b2b2;
  }
  
  .menu {
    max-height: 0;
    transition: max-height .2s ease-out;
    display: flex;
    
  }
  
  
  
  
  